body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

#body {
  max-width: 450px;
  height: 550px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  background-color: bisque;
}

#display {
  display: flex;
  align-items: center;
  justify-content: end;
  border: 2px;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  height: 100px;
  margin: 30px auto 0 auto;
  font-size: 40px;
  color: #36454F;
  background-color: azure;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20ch;
}

#keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 350px;
  height: 350px;
  margin: auto;
  margin-top: 10px;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: space-evenly;
}

#dummy {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.digits,
.operators,
.reset,
#decimal,
#equal,
#backspace,
#posneg {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1rem;
  min-height: 1rem;
  border: 0.5px;
  border-style: solid;
  border-radius: 10px;
  place-self: center;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px #999;
}

.digits,
#decimal,
#posneg {
  background-color: lightblue;
}

.operators,
.reset,
#equal,
#backspace {
  background-color: lightcoral;
}

.digits:hover,
#decimal:hover,
#posneg:hover {
  background-color: lightseagreen;
}

.operators:hover,
.reset:hover,
#equal:hover,
#backspace:hover {
  background-color: coral;
}

.digits:active,
#decimal:active,
#posneg:active {
  background-color: lightseagreen;
  box-shadow: 0 2px #666;
  transform: translateY(3px);
}

.operators:active,
.reset:active,
#equal.active,
#backspace:active {
  background-color: coral;
  box-shadow: 0 2px #666;
  transform: translateY(3px);
}

#footer {
  margin-top: 10px;
}